/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* reset */

/* start of font */
@font-face{
    font-family:Lato;
    src: url(Lato-Light.ttf);
}
@font-face{
    font-family:OpenSansNormal;
    src:url(OpenSans-Regular.ttf);
}
@font-face{
    font-family:OpenSans;
    src:url(OpenSans-CondLight.ttf);
}
@font-face{
    font-family: Oswald;
    src: url(Oswald-Regular.ttf);
}
@font-face{
    font-family:Lora;
    src:url(Lora-Regular.ttf);
}
/* end of font */

/* start of general usage */
body{
    background:#F4F4F4;
}
#whatpage{
    font-family: Oswald,Arial,serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
    font-size: 60px;
}
#AllContainer{
    margin-top: 5%;
    height: auto;
    margin-top:5%;
}
footer{
    clear: both;
}

/* start of logo stuff */
#logotopcontainer{
    padding-top: 3%;
    height: auto;
    border-bottom: 2px solid #eee;
    padding-bottom: 3%;
}
#endlogosize{
    width: 12%;
    display: block;
    margin: 0 auto;
}
#logosizeTop{
    display:block;
    margin: 0 auto;
}
/* end of logo stuff */

/* start of Back to top Button stuff */
#backtotopbutton{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 2%;
    height: 3%;
    transition: 0.3s;
    border-radius: 20px;
    border-color: none;
    background:#b69c6a;
    padding:0.5%;
}
#backtotopbutton:hover{
    transform: scale(1.4);
    background: #DCD0C0;
}
/* end of Back to top Button stuff */

/* start of navigation stuff */
nav.sitenavigation{
    position: fixed;
    width:100%;
    top:0;
}

div.navigation-menu-button{
    display: none;
}
.sitenavigation ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
.sitenavigation li {
    float: left;
}

.sitenavigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.5s;
}

.sitenavigation li a:hover{
    color:#b69c6a;
    transform: translate(0,-3px);
}
/* end of navigation stuff */

#footercontainer{
    background-color: #303030;
    padding-top: 2%;
    height: auto;
    padding-bottom: 2%;
}
#containersetwidth{
    width: 85%;
    margin: 0 auto;
}
main{
    width: 80%;
    height: auto;
    float:left;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* end of general usage */

/*start of main page stuff in index.html*/
.divarticle {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#b69c6a;
    font-family: OpenSans,Helvetica,sans-serif;
    border-bottom: 2px solid #b69c6a;
    font-size: 46px;
}
#articlephoto{
    width:70%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.articlecontent{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-family: OpenSansNormal,Arial;
}
/*end of main page stuff in index.html */

/* start of aside stuff in index.html*/
.asidepost{
    margin-left: 5%;
    margin-bottom: 5%;
    border: 2px dotted #b69c6a;
    padding: 2%;
}
.phello{
    font-family: OpenSans,OpenSansNormal,Lato,Arial,sans-serif;
    font-weight: 900;
    font-size: 20px;
    transition:1s;
    text-align: center;
}
.phello:hover{
    text-decoration: underline;
}
.asidearticle{
    padding-top: 10px;
    text-align: center;
    font-size: 14;
    line-height: 18px;
    font-family: OpenSansNormal,Lato,Arial,Monaco;
}
aside{
    width: 20%;
    float:right;
    margin-top: 14%;
}
.asidephoto{
    width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.asidephoto:hover{
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 5px #b69c6a);
}
/* end of aside stuff in index.html */

/* start of photos stuff in Photos.html */
#row{
    margin-left: 7%;
}
.image{
    width:30%;
    height:auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    display: inline-block;
    transition: 0.2s;
}
#row:hover .image {
    opacity: 0.5;
    transition: 0.3s;
}

#row .image:hover {
    opacity: 1;
}

/* end of photos stuff in Photos.html */

/* start of bucket list stuff in bucklist.html*/
.imagebucketlist{
    height:5%;
    width:90%;
    margin:0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.h1bucketlist{
    text-align: center;
    color:#303030;
    padding-bottom: 0.1%;
    text-decoration: underline;
    text-transform: uppercase;
}
#bucketlistinstruction{
    text-align: center;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 21px;
}
/* end of bucket list stuff in bucklist.html*/

/* start of about me stuff in aboutme.html*/
#aboutmephoto{
    width: 40%;
    margin-bottom: 5%;
    transition: 0.5s;
    float: left;
}
#aboutmephoto:hover{
    transform: scale(1.4);
}
.aboutmearticle{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-family: OpenSansNormal,Arial;
    margin-right: 10%;
}
/* end of about me stuff in aboutme.html*/

/* start of stuff for hidden contents in index.html*/
input {
    display: none;
    visibility: hidden;
}
label {
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
}
label:hover {
    color: #000;
}
label::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 3%;
    height: 3%;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    color: #FFF;
}
#toggle:checked ~ #expand {
    height: 250px;
}
#toggle:checked ~ label::before {
    content: "-";
}
/* end of stuff for hidden contents in index.thml*/

/* start of tryforforms.html stuff */
#namemessage{
    width: 26%;
    height:5%;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 20px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
}
#messagemessage{
    width: 56%;
    height:30%;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 20px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
}
#emailmessage{
    width: 36%;
    height:5%;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 20px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
}
#submitbutton{
    margin-bottom: 7%;
    margin-top: 3%;
    margin-left: 5%;
}
form{
    margin-left: 5%;
}
/* end of tryforforms.html stuff */

.blogpost{
    margin: 8%;
}




/*screen size of lesser than 880px */
@media screen and (max-width:880px){
    
    nav.sitenavigation{
        width: 15%;
        float: right;
        position: relative;
    }
    div.navigation-menu-button{
        float: right;
        display: block;
        position: relative;
    }
    .sitenavigation ul{
        float: right;
        position: relative;
        margin: 0;
        display: none;
    }
    .sitenavigation li a {
        font-size: 16px;
    }
    #whatpage{
        margin-top:5%;
        font-size: 50px;
    }
    #logosizeforhome{
        width: 70%;
        height: 70%;
    }
    aside{
        display: none;
    }
    main{
            width: 90%;
    height: auto;
    float:left;
    margin-top: 5%;
    margin-bottom: 5%;
    }
    header{
        display: none;
    }
