/* reset */
body,div,footer,header,p,aside{
    margin:0 auto;
    padding: 0;
}
/* reset */

/* font */
@font-face{
    font-family:Lato;
    src: url(Lato-Light.ttf);
}
@font-face{
    font-family:OpenSansNormal;
    src:url(OepnSans-Regular.ttf);
}
@font-face{
    font-family:OpenSans;
    src:url(OpenSans-CondLight.ttf);
}
@font-face{
    font-family: Oswald;
    src: url(Oswald-Regular.ttf);
}
@font-face{
    font-family:Lora;
    src:url(Lora-Regular.ttf);
}
/* font */
p{
    font-family: OpenSansNormal;
    font-size: 16px;
    color: #b69c6a;
}
/* navigation */
.navul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.navli {
    float: left;
}

.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.5s;
}

.nava:hover{
    color:#b69c6a;
}
/* navigation stuff */

/* aside stuff */
.phello{
    font-family: OpenSans;
    font-weight: 900;
    font-size: 20px;
}
.asidearticle{
    padding-top: 10px;
    text-align: center;
    font-size: 14;
    line-height: 18px;
    font-family: OpenSansNormal,Arial;
}
aside{
    width: 28%;
    float:right;
    margin-top: 20px;
}
.asidephoto{
    width:70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;

}
#asidephoto:hover{
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 5px #b69c6a);
}
#AllContainer{
    margin-top: 5%;
    height: auto;
    margin-top:5%;
}
#row{
    margin-left: 7%;
}
.image{
    width:30%;
    height:auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    display: inline-block;
    transition: 0.2s;
}
#row:hover .image {
    opacity: 0.5;
    transition: 0.3s;
}

#row .image:hover {
    opacity: 1;
}
/* aside stuff */

/* containers */
#containersetwidth{
    width: 76%;
    margin: 0 auto;
}

#articlecontainer{
    width: 70%;
    height: auto;
    background-color: ;
    float:left;
    margin-top: 5%;
    margin-bottom: 5%;
}
#footercontainer{
    background-color: #303030;
    padding-top: 20px;
    height: auto;
    padding-bottom: 20px;
}
/* containers */

/*main div stuff */
.divarticle {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#b69c6a;
    font-family: OpenSans;
        border-bottom: 2px solid #b69c6a;
}
#articlephoto{
    width:70%;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.articlecontent{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-family: OpenSansNormal,Arial;
}
/*main div stuff */

/* stuff for hiddent contents */
input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 3%;
  height: 3%;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}
#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "-";
}
/* stuff for hiddent contents */

/* logo stuff */
#logotopcontainer{
    padding-top: 20px;
    height: auto;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}
#logosize{
    display: block;
        margin:0 auto;
}
#endlogosize{
    width: 20%;
    display: block;
    margin: 0 auto;
}
/* logo stuff */

footer{
    clear: both;
}